html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-image: url(../imgs/avengersLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
nav,
footer {
  background-color: #333d51;
}
.container-fluid {
  width: 100%;
  height: 100%;
  min-height: calc(100% + 320px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 3em;
  text-align: right;
  color: red;
  font-weight: bold;
  margin-right: 1em;
}
h2 {
  font-size: 1.8em;
}
#ultron,
#ironman,
#hulk,
#thanos {
  height: 12em;
  margin: 0 1em;
}
#battleGround {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#battle {
  height: 2.5em;
  width: 6em;
  margin-top: 3em;
}
#playerHealth,
#enemyHealth,
#playerAttack,
#enemyAttack {
  text-align: center;
  margin: 0;
}
footer {
  width: 100%;
}
